include fastshot/config.ini
include fastshot/_config_reset.ini
include fastshot/resources/paddleocr.zip
include fastshot/resources/user_icon.png
include fastshot/resources/ai_icon.png
include fastshot/resources/close_icon.png
include fastshot/resources/minimize_icon.png
include fastshot/resources/title_icon.png
include fastshot/env.bat

recursive-include web/templates *.html
recursive-include web/static/css *.css
recursive-include web/static/js *.js
recursive-include web/static/images *.png *.jpg *.jpeg *.gif