include fastshot/config.ini
include fastshot/resources/paddleocr.zip
include fastshot/resources/user_icon.png
include fastshot/resources/ai_icon.png
include fastshot/resources/close_icon.png
include fastshot/resources/minimize_icon.png
include fastshot/resources/title_icon.png
include fastshot/env.bat